alias ls='ls --color=auto'
alias la='ls -A'
alias grep='grep --color=auto'
alias ip='ip -color=auto'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias vim='nvim'

alias g='git'
alias ga='git add'
alias gd='git diff'
alias gds='git diff --cached'
alias gs='git status'
alias gp='git push'
alias gb='git branch'
alias gst='git status'
alias gco='git checkout'
alias gf='git getch'
alias gc='git commit'
