alias ls='ls --color=always --group-directories-first -v'
alias ll='ls -lh'
alias l.='ls -d .*'
alias la='ls -A'
alias lla='ll -A'
alias less='less -R'
alias grep='grep --color=always'
alias ip='ip -color=always'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias vim='nvim'

alias g='git'
alias ga='git add'
alias gd='git diff'
alias gds='git diff --cached'
alias gs='git status'
alias gp='git push'
alias gb='git branch'
alias gst='git status'
alias gco='git checkout'
alias gf='git fetch'
alias gc='git commit'
